<div class="row">
    <div class="col-xs-12">
        <img routerLink="/" [src]="recipeDetail.imagePath" alt="Image for {{ recipeDetail.name }}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1> {{ recipeDetail.name }} </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" rbDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li  (click)="addToSL()" style="cursor: pointer;"><a routerLink="/shopping-list">To Shopping List</a></li>
                <li style="cursor: pointer;"><a routerLink="edit">Edit Recipe</a></li>
                <li style="cursor: pointer;"><a >Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipeDetail.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let ing of recipeDetail.ingredients">
                {{ ing.name }} -- {{ ing.amount }}
            </li>
        </ul>
    </div>
</div>